USE [PDP]
GO
/****** Object:  Table [dbo].[telecom_order]    Script Date: 7/3/2016 12:41:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[telecom_order](
	[Request Number] [nvarchar](255) NOT NULL,
	[Order Date] [datetime] NULL,
	[Fiscal Year] [float] NULL,
	[Submitter] [nvarchar](255) NULL,
	[Location] [nvarchar](255) NULL,
	[Program] [nvarchar](255) NULL,
	[Branch] [nvarchar](255) NULL,
	[Group] [nvarchar](255) NULL,
	[Option] [nvarchar](255) NULL,
	[Status] [nvarchar](255) NULL,
	[Link] [nvarchar](255) NULL,
 CONSTRAINT [PK_telecom_order] PRIMARY KEY CLUSTERED 
(
	[Request Number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[telecom_order] ([Request Number], [Order Date], [Fiscal Year], [Submitter], [Location], [Program], [Branch], [Group], [Option], [Status], [Link]) VALUES (N'ATOSCA013-2015', CAST(N'2015-10-09T00:00:00.000' AS DateTime), 2016, N'Alena Dole', N'South Bidg-Whitten-Annex', N'CA', N'BOD', N'Network Group', N'Cabling', N'Approved', N'Details')
INSERT [dbo].[telecom_order] ([Request Number], [Order Date], [Fiscal Year], [Submitter], [Location], [Program], [Branch], [Group], [Option], [Status], [Link]) VALUES (N'ATOSCA014-2016', CAST(N'2016-02-19T00:00:00.000' AS DateTime), 2016, N'Alena Dole', N'South Bidg-Whitten-Annex', N'CA', N'BOD', N'Network Group', N'Cabling', N'Approved', N'Details')
INSERT [dbo].[telecom_order] ([Request Number], [Order Date], [Fiscal Year], [Submitter], [Location], [Program], [Branch], [Group], [Option], [Status], [Link]) VALUES (N'ATOSCA015-2016', CAST(N'2016-05-01T00:00:00.000' AS DateTime), 2016, N'Alena Dole', N'South Bidg-Whitten-Annex', N'CA', N'BOD', N'Cellular Group', N'Cellular', N'Sent To Vendor', N'Details')
GO
